{{ define "about" }}

{{ template "header" . }}

<!-- Middle  -->
<div id="middle-section">

    <div class="text-wrapper">

        <h2>About</h2>

        <p>
            <a href="https://github.com/mchmarny/dctl" target="_blank"><code>dctl</code></a> is an open source project created to provide a quick insight into the activity of a single repo or an entire GitHub organization across the two main dimensions:
            <ul>
                <li>Volume of developer events over time (PR, issue, and their comments)</li>
                <li>Contributions by developer entity affiliation during time period (company or organization)</li>
            </ul>
            While GitHub does provide some charts with this information on a repo level, and some foundations created their own views into their projects, there isn't really anything free out there to provide answers to these questions.
        </p>

        <p>
            Using data aggregated from your selection of <a href="https://docs.github.com/en/rest">GitHub API</a> repositories (requires a free API <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token">access token</a>), and augmented with developer affiliation content from <a href="https://github.com/cncf/gitdm">CNCF</a> and <a href="https://www.apache.org/foundation/members.html">Apache Foundation</a>, <code>dctl</code> provides organization, repository, or entity scoped drill-downs to filter on time period, contribution type, and developer name to identify individual events, and, optionally navigate to the original detail in GitHub for more context.

        </p>
        <p>
             And, since all this data is cached locally, you can use a GUI (e.g. <a href="https://sqlitestudio.pl/">SQLiteStudio</a>) or <code>sqlite3</code> CLI to run the even more customized queries using SQL without needing to re-download the data. See the <a href="https://github.com/mchmarny/dctl" target="_blank"><code>dctl</code></a> readme file for more details on how to do that. 
        </p>

        <p>
            Hope you find this tool helpful. <a href="https://twitter.com/mchmarny" target="_blank">Let me know</a> if you have any questions.
        </p>

    </div>

</div>
<!-- End Middle  -->

{{ template "footer" . }}

{{ end }}