name: publish

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  test:
    uses: ./.github/workflows/test-on-call.yaml
    secrets: inherit

  release:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: test
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Go Environment
        uses: ./.github/actions/setup-go-env

      - name: Setup Build Tools
        uses: ./.github/actions/setup-build-tools

      - name: Build CLI
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29  # v7.0.0
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
          KO_DOCKER_REPO: ghcr.io/${{ github.repository }}

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@a2bbfa25375fe432b6a289bc6b6cd05ecd0c4c32  # v4.1.0
        with:
          subject-checksums: dist/checksums-sha256.txt

  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: release
    permissions:
      contents: write
    steps:
      - name: Publish Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: gh release edit "${{ github.ref_name }}" --draft=false
