name: test

on:
  workflow_call:

jobs:

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.25"

    - name: Cache Go Modules
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: Tidy Modules
      run: |
        make tidy

    - name: Config Lint
      id: golangci_config
      uses: andstor/file-existence-action@v3
      with:
        files: .golangci.yaml

    - name: Lint Code
      if: steps.golangci_config.outputs.files_exists == 'true'
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest

    - name: Unit Test
      run: |
        make test
